<div class="todo-list-wrapper">
    <ul class="nav-tabs">
        <li [ngClass]="{'active': isSelected(tabs.all)}">
            <span (click)="select(tabs.all)">All items</span>
        </li>
        <li [ngClass]="{'active': isSelected(tabs.pending)}">
            <span (click)="select(tabs.pending)">Pending</span>
        </li>
        <li [ngClass]="{'active': isSelected(tabs.completed)}">
            <span (click)="select(tabs.completed)">Completed</span>
        </li>
        <li [ngClass]="{'active': isSelected(tabs.archived)}">
            <span (click)="select(tabs.archived)">Archived</span>
        </li>
    </ul>
    <app-todo-form></app-todo-form>
    <div *ngIf="todos">
    	<div class="list-item" [ngClass]="{'complete': todo.status === status.completed}" *ngFor="let todo of todos | async | filteredTodos:todoStatus">
    		<div class="checkbox-wrapper" *ngIf="todo.status !== status.archived">
    			<input 
                    type="checkbox" 
                    id="checkbox-{{ todo.id }}" 
                    (change)="completeTodo($event, todo)" 
                    value="{{ todo.id }}" 
                    [checked]="todo.status === status.completed" />
    			<label class="checkbox-label" for="checkbox-{{ todo.id }}"></label>
    		</div>
    		<div class="list-title">{{ todo.title }}</div>
    		<div class="list-actions">
                <button class="btn" (click)="addToArchive(todo)" *ngIf="todo.status !== status.archived">Add To Archive</button>
                <button class="btn" (click)="restoreFromArchive(todo)" *ngIf="todo.status === status.archived">Restore From Archive</button>
    			<button class="btn" (click)="editTodo(todo)" *ngIf="todo.status !== status.archived">Edit</button>
    			<button class="close" (click)="deleteTodo(todo.id)">X</button>
    		</div>
    	</div>
    </div>
</div>