$white: #fff;
$border-color: #ccc;
$primary: #66bb6a;
$accent: #e52f48;

.nav-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;

	li {
		margin: 0 5px;
		span {
			display: block;
			padding: 5px;
			border: 1px solid $border-color;
			border-radius: 5px;

			&:hover {
			  cursor: pointer;
			  background: $primary;
			  border-color:  $primary;
			  color: $white;
			}
		}

		&.active {
			span {
				color: $white;
				background: $primary;
			  	border-color:  $primary;
			}
		}
	}
}

.todo-list-wrapper { 
	.list-item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		border: 1px solid $border-color;
		padding: 5px;
		border-radius: 5px;

		.list-title{
			flex: 1;
		}

		.checkbox-wrapper{
			width: 20px;
			height: 20px;
			position: relative;
			margin-right: 5px;

			.checkbox-label {
				background-color: $white;
				border: 1px solid $border-color;
				border-radius: 50%;
				cursor: pointer;
				height: 16px;
				left: 0;
				position: absolute;
				top: 0;
				width: 16px;

				&:after {
					border: 2px solid $white;
					border-top: none;
					border-right: none;
					content: "";
					height: 4px;
					left: 3px;
					opacity: 0;
					position: absolute;
					top: 4px;
					transform: rotate(-45deg);
					width: 8px;
				}
			}
			input[type="checkbox"] {
				visibility: hidden;

				&:checked + label {
					background-color: $primary;
					border-color: $primary;

					&:after {
						opacity: 1;
					}
				}
			}
		}

		&.complete {
			.list-title {
				text-decoration: line-through;
			}
		}

		.list-actions {
			.btn {
				padding: 5px 10px;
				background: $primary;
			  	border-color:  $primary;
			  	margin: 0 5px;
			  	color: $white;
			  	border-radius: 5px;
			}

			.close {
				color: $accent;
			}
		}
	}
}