$white: #fff;
$border-color: #ccc;
$primary: #66bb6a;
$accent: #e52f48;

.todo-form-wrapper {
	margin-bottom: 15px;
	.form-group {
		margin-bottom: 15px;
		label {
			display: block;
			margin-bottom: 5px;
		}
		.form-control {
			display: block;
		    width: 100%;
		    padding: .375rem .75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    border: 1px solid $border-color;
		    border-radius: .25rem;
		    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		    box-sizing: border-box;
		}

		.submit {
			background: $primary;
		  	border-color:  $primary;
		  	margin-right: 5px;
		  	color: $white;
		  	&[disabled] {
		  		opacity: 0.5;
		  	}
		}

		.clear {
			background: $accent;
		  	border-color:  $accent;
		  	color: $white;
		}
	}
}