<div class="todo-form-wrapper">
	<form [formGroup]="todoForm" (ngSubmit)="todoForm.valid && onSubmit()">
        <div class="form-group">
            <label>Add Todo</label>
            <input type="title" class="form-control" formControlName="title" #title/>
            <div *ngIf="todoForm.controls['title'].invalid && (todoForm.controls['title'].dirty || todoForm.controls['title'].touched)"
                 class="error-msg">
                <div *ngIf="todoForm.controls['title'].errors.required">
                    Title is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn submit"
                    [disabled]="todoForm.pristine || todoForm.invalid">Submit
            </button>
            <button type="reset" class="btn clear" (click)="clearForm()">Clear</button>
        </div>
    </form>
</div>