/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$accent: #e52f48;

body {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: block;
    padding: 0 10px;
}

/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    cursor: pointer;

    &:hover,
	&:focus {
	    outline: none;
	}
	&:active {
	    transform: scale(0.99);
	}
}
/* Button styles end */

ul {
    list-style:none;
}
ul, li { /* reset the margin and padding */
    margin: 0;
    padding: 0;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
}

.error-msg {
    color: $accent;
}